table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
th,
td {
  border: 1px solid #222;
  padding: 10px;
}
.passed {
  background-color: green;
}
.failed {
  background-color: red;
}
